
.pagination{
  ul{
    li{
      list-style: none;
      a{
        background-color: tomato;
        color: #fff;
      }
    }
  }
}



/* small screen */

@media (min-width:768px) and (max-width:991px) {
  
  .filters{
    li{
      a{
        font-size: 7px !important;
      }
    }
  } 
  
  footer{
    h1{
      font-size: 27px;
    }
  }

}

/* smart phone and tablets */

@media (max-width:767px) {
  
  .filters{
    li{
      a{
        font-size: 10px !important;
      }
    }
  } 
  
  footer{
    h1{
      font-size: 20px;
    }
  }
}