@import "../includes/_main_variables";




section#site_of_the_day {
  // background-color: $main-color;
  position: relative;
  height: 100vh;
  overflow: hidden;

  @media (min-width: 768px) {
    height: 700px;
  }

  #split {
    width: 50%;
    height: 500px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $main-color;

    @media (min-width: 768px) {
      height: 100%;
    }
  }

  #box_bread {
    position: relative;
    z-index: 2;

    #box_left {
      color: #fff;
      font-size: 1em;

      span {
        font-weight: 600;
      }
    }

    #box_right {
      .followers {
        ul {
          li {
            width: 35px;
            height: 35px;

            &.more_users {
              a {
                span {
                  top: 68%;
                  left: 0px;
                  padding: 2px 5px;
                  font-size: 12px;
                }

                i {
                  font-size: 24px;
                  width: .8em;
                }
              }
            }
          }
        }
      }
    }
  }

  a.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.82);

    @media (min-width: 768px) {
      background: transparent;
    }
  }


  .box_noteSite {
    margin-bottom: 60px;

    ul {
      li {
        margin: 0 15px;
        width: 70px;
        height: 70px;
        font-size: 1.5rem;

        @media(min-width: 992px) {
          font-size: 2rem;
          width: 100px;
          height: 100px;
        }

        position: relative;
        z-index: 9;
        background: #ffffff;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        box-shadow: 2px 20px 20px 0px rgba(56, 56, 56, 0.49);

        $items: ("design""التصميم",
          "usability""سهولة الاستخدام",
          "creativity""الإبداع",
          "content""المحتوى",
          "responsive""متجاوب"
        );

        @each $class,
        $content in $items {
          &.#{$class}::after {
            content: "#{$content}";
            position: absolute;
            top: 100%;
            left: 50%;
            color: #fff;
            font-size: 14px;
            white-space: nowrap;
            margin-top: 10px;
            text-shadow: 1px 7px 8px #1b1b1b;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
          }
        }
      }
    }
  }



  @supports (width: calc(100% + 66px)) {
    img {
      width: calc(100% + 66px);
    }
  }

  #caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5em 0;


    #info {
      position: relative;
      z-index: 3;
      text-align: center;
      font-size: 18px;

      a {
        color: #fff;
        font-weight: 700;
      }

      #data {
        position: relative;
        z-index: 3;
        color: #fff;
        font-weight: 400;
        font-size: 16px;

        @media (min-width: 768px) {
          font-size: 20px;
        }

        a:hover {
          color: $main-color-hover;
        }

        .name {
          color: $main-color-hover;
        }

        .rating {
          font-size: 23px;
          line-height: 1;
        }
      }

      #heading-large {
        h1 {
          font-size: 26px;
          font-weight: 700;

          @media (min-width: 576px) {
            font-size: 30px;
          }

          @media (min-width: 768px) {
            font-size: 36px;
          }
        }

        #date {
          color: #fff;
          direction: rtl;
          font-weight: 600;
        }
      }
    }
  }

  #btnSubmitYourSite {
    position: relative;
    z-index: 3;

    a {
      color: $main-color;
      background-color: $main-bg;
      box-shadow: 3px 11px 20px 0px rgba(125, 125, 125, 0.49);
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      font-size: 14px;

      @media (min-width: 768px) {
        box-shadow: 2px 20px 20px 0px rgba(125, 125, 125, 0.49);
        font-size: 16px;
      }

      &:hover {
        background-color: $main-color-hover;
        color: #fff;
      }
    }
  }

  #info_down {
    button#close {
      position: relative;
      z-index: 5;
      border: 1px solid red;
      background: transparent;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;

      &::before {
        content: '';
        background: transparent;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        position: absolute;
        top: -1px;
        left: -1px;
        opacity: 0;
        z-index: -1;
        animation: animation-btn-close 3s ease-out infinite;
        border: 1px solid red;
        -webkit-animation: animation-btn-close 3s ease-out infinite;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }
  }
}

.swiper {
  padding-bottom: size-calc(500);

  @function size-calc($base) {
    $value: calc(#{$base} * (100% / 1440));
    @return $value;
  }

  .proxy {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  // .mask_img {
  //   box-shadow: rgba(0, 0, 0, 0.18) 12px 15px 50px 0px;
  // }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  &__slider {
    width: 100%;
    position: relative;
  }

  &__inner {
    white-space: nowrap;
  }

  &-slide {
    position: relative;


    &__content {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      padding-top: size-calc(35);
    }
  }
}

section#Winners {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: 100%;
    z-index: -1;
    background-color: #fff;

  }

  .head_title {
    h2 {
      line-height: 1.5;
      // direction: rtl;
      text-align: center;

      span {
        font-weight: 300;
      }
    }
  }

  // .mask_img {
  //   -webkit-box-shadow: 0px 31px 20px -16px rgba(0, 0, 0, 0.22);
  //   -moz-box-shadow: 0px 31px 20px -16px rgba(0, 0, 0, 0.22);
  //   box-shadow: 0px 31px 20px -16px rgba(0, 0, 0, 0.22);
  // }
}

section#nominees {
  @extend section#Winners;
}

section#featured_Members {
  @extend section#Winners;
}