@import "includes/_main_variables";
// include => Bootstrap grid
@import "includes/op_grid";
// @import url("https://fonts.googleapis.com/css?family=Raleway:400");
// @import url('https://fonts.googleapis.com/css?family=Tajawal:400,700&display=swap&subset=arabic');
@import url('https://fonts.googleapis.com/css?family=Cairo:600,700');
@import "font/flaticon";

html,
body {
  margin: 0;
  overflow-x: hidden;
  font-family: $main-font-family;
  color: $gray-800;
  background-color: $light;
}

a {
  text-decoration: none;
  color: $gray-800;
  font-weight: 600;

  &:hover {
    color: $main-color-hover;
  }
}

::selection {
  background-color: $main-color-hover;
  color: $light;
}

ul {
  list-style: none;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-color: #fff;

  .sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);

  }

  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }

  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
  }

  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
  }

  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
  }

  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }

  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }

  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
  }

  @-webkit-keyframes sk-foldCubeAngle {

    0%,
    10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
      transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
    }

    25%,
    75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    }

    90%,
    100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
      transform: perspective(140px) rotateY(180deg);
      opacity: 0;
    }
  }

  @keyframes sk-foldCubeAngle {

    0%,
    10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
      transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
    }

    25%,
    75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    }

    90%,
    100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
      transform: perspective(140px) rotateY(180deg);
      opacity: 0;
    }
  }
}

main {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0px;
  // top: 0px;
  overflow: hidden;
}

#cursor {
  position: fixed;
  mix-blend-mode: difference;
  z-index: 1000;

  span#title {
    z-index: 999;
    pointer-events: none;
    position: absolute;
    mix-blend-mode: difference;
    top: 3px;
    opacity: 0;
    color: #fff;
    white-space: nowrap;
    line-height: 1;
    font-size: 16px;
    font-weight: 600;
    text-shadow: 3px 9px 20px rgb(0, 0, 0);
  }

  #circle {
    z-index: 9999;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 1px solid #2addb4;
    box-shadow: 3px 9px 20px 0px rgba(171, 171, 171, 0.24);
  }

  .side--right,
  .side--left {
    position: absolute;
    top: 50%;
    width: 5px;
    height: 1px;
    background: #2addb4;
    opacity: 0;
  }

  .side--right {
    right: calc(100% + 5px);
  }

  .side--left {
    left: calc(100% + 5px);
  }
}

#dot {
  position: fixed;
  top: 0;
  z-index: 998;
  left: 0;
  width: 5px;
  height: 5px;
  margin: 0;
  pointer-events: none;
  background-color: #424242;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.dots {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url("../images/dots.svg") repeat top left;
  width: 100%;
  height: 500px;
  z-index: 0;
  opacity: .8;
}

[data-scroll] {
  will-change: transform;
}

.item__img-wrap {
  overflow: hidden;
  margin: 0 auto;
  // max-width: calc(100% - 2rem);
  will-change: transform;
}

.item__img {
  top: calc(-1 * 10%);
  position: relative;
  will-change: transform;
}

.item {

  img {
    width: 100%;
  }

  margin: 10px 1.5rem;

  .mask_img {
    width: 300px;
    height: 300px;

    @include media-breakpoint-up(lg) {
      width: 400px;
      height: 400px;
    }
  }
}


aside {
  position: fixed;
  top: 0;
  right: -300px;
  width: 250px;
  height: 100%;
  // background-color: rgba(255, 255, 255, 1);
  color: white;
  z-index: 888;

  @supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.781);
  }

  transition: right 300ms ease-in-out;
  box-shadow: -1px -5px 20px rgba(0, 0, 0, 0.04);

  &.active {
    right: 0;
  }

  ul {
    li {
      text-align: center;
      border-bottom: 1px dashed rgba(0, 0, 0, 0.109804);

      a {
        color: $dark;
        font-weight: 600;
        font-size: 14px;
      }
    }
  }
}


nav#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 998;
  // border-bottom: 1px solid rgba(255, 255, 255, 0.38);

  .wrapper {
    height: 100%;

    #background {
      background-color: rgba(255, 255, 255, 0.9);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      @supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
        background-color: rgba(255, 255, 255, 0.40);
      }
    }

    #content {
      position: relative;
      z-index: 2;

      #search {
        svg {
          width: 25px;
        }
      }

      .box-right {
        position: relative;

        #login {
          position: absolute;
          right: 100%;
          white-space: nowrap;
          top: 0;
        }
      }

      #logo {
        a {
          color: #2a2a2a;
        }
      }


      #hamburger {
        position: relative;

        button {
          background: transparent;
          border: none;

          span {
            width: 30px;
            height: 2px;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            background-color: $main-color;
            display: block;
            margin-top: 5px;
            transition: all 200ms ease-in-out;
            -webkit-transition: all 200ms ease-in-out;
            -moz-transition: all 200ms ease-in-out;
            -ms-transition: all 200ms ease-in-out;
            -o-transition: all 200ms ease-in-out;
}

          &.active {
            span:nth-child(1) {
              transform: rotate(45deg) translate(0px, 6px);
              -moz-transform: rotate(45deg) translate(0px, 6px);
              -ms-transform: rotate(45deg) translate(0px, 6px);
              -o-transform: rotate(45deg) translate(0px, 6px);
              -webkit-transform: rotate(45deg) translate(0px, 6px);
            }

            span:nth-child(2) {
              opacity: 0;
            }

            span:nth-child(3) {
              transform: rotate(-45deg) translate(3px, -10px);
              -moz-transform: rotate(-45deg) translate(3px, -10px);
              -ms-transform: rotate(-45deg) translate(3px, -10px);
              -o-transform: rotate(-45deg) translate(3px, -10px);
              -webkit-transform: rotate(-45deg) translate(3px, -10px);
            }
          }
        }
      }
    }
  }
}

.card {
  position: relative;

  img {
    width: 100%;
  }

  .mask_img {
    box-shadow: rgba(0, 0, 0, 0.11) 0px 20px 30px 0px;
  }

  .caption {
    direction: rtl;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    color: #ffffff;
    // text-shadow: -3px 6px 13px rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, .7);
    z-index: 3;

    .avatar {
      width: 55px;
      height: 55px;
      overflow: hidden;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border: 5px dotted #fff;
    }

    .box {
      line-height: 1.5;
    }

    p {
      font-size: 12px;

      span:first-child {
        font-size: 14px;
        font-weight: bold;
      }
    }
  }

  .caption_down {
    direction: rtl;

    ul {
      li {
        .flaticon-honor-band-mention {
          font-size: 25px;
          color: $red
        }

        .flaticon-medal {
          color: $teal;
          font-size: 25px
        }

        .flaticon-coding1 {
          color: $orange;
          font-size: 23px;
        }

        .flaticon-coding {
          color: $blue;
          font-size: 22px
        }
      }
    }

    p {
      word-break: break-all
    }
  }

  .overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    // background-color: rgba(255, 255, 255, 0.164);
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 200ms ease-in-out;
    -webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -ms-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;

    .btns_top {
      a {
        background-color: $white;
        color: $dark;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        box-shadow: 1px 19px 16px rgba(0, 0, 0, 0.17);

        transition: all 100ms ease-in-out;
        -webkit-transition: all 100ms ease-in-out;
        -moz-transition: all 100ms ease-in-out;
        -ms-transition: all 100ms ease-in-out;
        -o-transition: all 100ms ease-in-out;

        i {
          font-size: 16px;
        }

        &:hover {
          background-color: $dark;
          color: $white;
        }
      }
    }
  }

  &:hover {
    .overlay {
      opacity: 1;
    }
  }
}


.vote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

footer {
  direction: rtl;
  background: url("../images/Shape.svg") no-repeat center center;

  .logo {
    direction: ltr;
  }

  .hr {
    width: 100%;
    height: 1px;
    background-color: #cccccc;
  }

  i {
    font-size: 25px;
    padding: 0 10px;
    color: #252525;

    &:hover {
      color: $main-color-hover;
    }
  }

  p {
    text-align: center;
  }
}