head
  meta(charset="UTF-8")
  meta(name="title" content= title)
  meta(name="description" content="without description")
  meta(name="author" content="Mahmoud Bekheet")
  meta(name="keywords" content="html, html5, css, css3, pugJs, sass, ECMAScript 6, JQuery, Babel, TweenMax")
  meta(name="copyright" content="© 2019")
  meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(http-equiv="X-UA-Compatible", content="ie=11")
  title= title
  link(rel="stylesheet", href="assets/css/main.min.css")