script(src="assets/js/plugins/TweenMax.min.js")
script(src="assets/js/plugins/progressbar.min.js")
script(src="assets/js/plugins/imagesloaded.pkgd.min.js")
script(src="assets/js/plugins/Draggable.min.js")
script(src="assets/js/plugins/ThrowPropsPlugin.min.js")
script(src="assets/js/slide.js")
script(src="assets/js/main.js")