
section.filters.mb-5
  ul.d-flex.m-0.p-0
    li.px-3: a.link(href="#") مصنف بواسطة
    li.px-3.candid
      a.link(href="#") المرشحين
        i.flaticon-down-arrow.fi
      ul.dropdown-menu.flex-wrap
        li.m-2: a.link(href="#") مواقع اليوم
        li.m-2: a.link(href="#") مواقع الشهر
        li.m-2: a.link(href="#") مواقع السنة
        li.m-2: a.link(href="#") مطورين
        li.m-2: a.link(href="#") التميز المحمول
        li.m-2: a.link(href="#") مشرف
    li.px-3.sections
      a.link(href="#") الأقسام
        i.flaticon-down-arrow.fi
      ul.dropdown-menu.flex-wrap
        li.m-2: a.link(href="#") Architecture
        li.m-2: a.link(href="#") Art & Illustration
        li.m-2: a.link(href="#") Design Agencies
        li.m-2: a.link(href="#") E-Commerce
        li.m-2: a.link(href="#") Experimental
        li.m-2: a.link(href="#") Fashion
        li.m-2: a.link(href="#") Business & Corporate
        li.m-2: a.link(href="#") Culture & Education
        li.m-2: a.link(href="#") Events
        li.m-2: a.link(href="#") Film & TV
        li.m-2: a.link(href="#") Food & Drink
        li.m-2: a.link(href="#") Web & Interactive
    li.px-3.words
      a.link(href="#") الكلمات 
        i.flaticon-down-arrow.fi
      ul.dropdown-menu.flex-wrap
        li.m-2: a.link(href="#") 3D
        li.m-2: a.link(href="#") 404 pages
        li.m-2: a.link(href="#") App Style
        li.m-2: a.link(href="#") Contact Page
        li.m-2: a.link(href="#") Copy design
        li.m-2: a.link(href="#") Data Visualization
        li.m-2: a.link(href="#") Filters and Effects
        li.m-2: a.link(href="#") About Page
        li.m-2: a.link(href="#") Forms and Input
        li.m-2: a.link(href="#") Animation
        li.m-2: a.link(href="#") Clean
        li.m-2: a.link(href="#") Colorful
    li.px-3.techniq
      a.link(href="#") التقنيات 
        i.flaticon-down-arrow.fi
      ul.dropdown-menu.flex-wrap
        li.m-2: a.link(href="#") AngularJS
        li.m-2: a.link(href="#") Apache
        li.m-2: a.link(href="#") Bootstrap
        li.m-2: a.link(href="#") CSS Framework
        li.m-2: a.link(href="#") D3
        li.m-2: a.link(href="#") Font Awesome
        li.m-2: a.link(href="#") BARBA.js
        li.m-2: a.link(href="#") Backbone.js
        li.m-2: a.link(href="#") CSS3
        li.m-2: a.link(href="#") CreateJS
        li.m-2: a.link(href="#") Facebook API
        li.m-2: a.link(href="#") Debian
    li.px-3.colors
      a.link(href="#") الألوان 
        i.flaticon-down-arrow.fi
      ul.dropdown-menu.flex-wrap
        li.m-2: a.link(href="#") اسود
        li.m-2: a.link(href="#") ازرق
        li.m-2: a.link(href="#") بني
        li.m-2: a.link(href="#") اخضر
        li.m-2: a.link(href="#") ابيض
        li.m-2: a.link(href="#") بني
        li.m-2: a.link(href="#") برتقالي
        li.m-2: a.link(href="#") وردي
        li.m-2: a.link(href="#") أحمر
        li.m-2: a.link(href="#") اصفر
        li.m-2: a.link(href="#") ذهبي
    li.px-3.countrys
      a.link(href="#") بلدان 
        i.flaticon-down-arrow.fi
      ul.dropdown-menu.flex-wrap
        li.m-2: a.link(href="#") مصر
        li.m-2: a.link(href="#") السعودية
        li.m-2: a.link(href="#") الأردن
        li.m-2: a.link(href="#") عمان
        li.m-2: a.link(href="#") فلسطين
        li.m-2: a.link(href="#") سوريا
        li.m-2: a.link(href="#") ليبيا
        li.m-2: a.link(href="#") العراق
        li.m-2: a.link(href="#") المغرب
        li.m-2: a.link(href="#") الجزائر
        li.m-2: a.link(href="#") اليمن
        li.m-2: a.link(href="#") الكويت
    li.px-3: a.link(href="#") إعادة تعيين المرشحات
      i.flaticon-reload.fi.mr-2
