footer
  .container
    .hr.mb-3
    h1.py-2 جوائز التصميم والإبداع والابتكار على الإنترنت
    ul
      li: a.link(href="#") الصفحة الرئيسية
      li: a.link(href="#") المرشحين
      li: a.link(href="#") المجمعات
    a.link(data-hover="logo"): h1.logo LOGO
    .hr.mb-3
    .copyrights.py-4.d-flex.justify-content-center.align-items-center
      .icons
        a.p-3.link(href="#" data-hover="Facebook"): i.flaticon-facebook.fi
        a.p-3.link(href="#" data-hover="Twitter"): i.flaticon-twitter.fi
        a.p-3.link(href="#" data-hover="Linkedin"): i.flaticon-linkedin.fi
        a.p-3.link(href="#" data-hover="Instagram"): i.flaticon-instagram.fi
        p Logo | جميع الحقوق محفوظة 2019