footer
  .container
    .hr.mb-3
    h2.py-2 جوائز التصميم والإبداع والابتكار على الإنترنت
    ul.d-flex.my-4.mx-0.p-0.flex-wrap
      li.my-3.ml-3.mr-0: a.link(href="index.html") الصفحة الرئيسية
      li.m-3: a.link(href="winners.html") الفائزين
      li.m-3: a.link(href="nominees.html") المرشحين
      li.m-3: a.link(href="collection.html") مجموعات
      //- li.my-3.mr-3.ml-0: a.link(href="#") معلومات عنا
    a.link(data-hover="logo"): h1.logo LOGO
    .hr.mb-3
    .copyrights.py-4.d-flex.justify-content-center.align-items-center
      .icons
        a.p-md-3.p-1.link(href="#" data-hover="Facebook"): i.flaticon-facebook.fi
        a.p-md-3.p-1.link(href="#" data-hover="Twitter"): i.flaticon-twitter.fi
        a.p-md-3.p-1.link(href="#" data-hover="Linkedin"): i.flaticon-linkedin.fi
        a.p-md-3.p-1.link(href="#" data-hover="Instagram"): i.flaticon-instagram.fi
        p.mt-4 Logo | جميع الحقوق محفوظة 2019