nav(id="backdrop")
  .wrapper.d-flex.align-items-center
    #background
    .container
      //- #box_search
      //-   #box_container
      //-     input(type="search", class="link px-5" name="search")
      //-     #left
      //-       a(href="#!")#btn_search: svg(viewBox="0 0 451 451"): path(d="M447.05,428l-109.6-109.6c29.4-33.8,47.2-77.9,47.2-126.1C384.65,86.2,298.35,0,192.35,0C86.25,0,0.05,86.3,0.05,192.3s86.3,192.3,192.3,192.3c48.2,0,92.3-17.8,126.1-47.2L428.05,447c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4C452.25,441.8,452.25,433.2,447.05,428z M26.95,192.3c0-91.2,74.2-165.3,165.3-165.3c91.2,0,165.3,74.2,165.3,165.3s-74.1,165.4-165.3,165.4C101.15,357.7,26.95,283.5,26.95,192.3z")
      //-     #right
      //-       a(href="#!")#show_filters.link فلتر
      //-       a(href="#!")#close_search.link: i.flaticon-cancel.fi.ml-5
      #content.d-flex.align-items-center.justify-content-between.px-5
        #search
          a(href="#" class="link" data-hover="ابحث")
            svg(viewBox="0 0 451 451"): path(d="M447.05,428l-109.6-109.6c29.4-33.8,47.2-77.9,47.2-126.1C384.65,86.2,298.35,0,192.35,0C86.25,0,0.05,86.3,0.05,192.3s86.3,192.3,192.3,192.3c48.2,0,92.3-17.8,126.1-47.2L428.05,447c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4C452.25,441.8,452.25,433.2,447.05,428z M26.95,192.3c0-91.2,74.2-165.3,165.3-165.3c91.2,0,165.3,74.2,165.3,165.3s-74.1,165.4-165.3,165.4C101.15,357.7,26.95,283.5,26.95,192.3z")
        #logo: a(href="#" class="link" data-hover="logo") LOGO
        .d-flex.align-items-center.box-right
          #login_btn.mr-4
            a(href="#!" class="btn_login link d-lg-block d-none") تسجيل الدخول
          #hamburger
            button(type="button" class="tcon tcon-menu--xbutterfly justify-content-center align-items-center link" aria-label="toggle menu")
              span(class="tcon-menu__lines" aria-hidden="true")
aside
  //- #lang
  //-   select(name="")
  //-     option(value="arabic") عربي
  //-     option(value="english") English
  ul.p-0.m-0
    li.d-lg-none.py-3: a(href="#!" class="btn_login link d-block pb-2") تسجيل الدخول
    li.py-3: a(href="index.html" class="link d-block py-2") الصفحة الرئيسية
    li.py-3: a(href="winners.html" class="link d-block py-2") الفائزين
    li.py-3: a(href="nominees.html" class="link d-block py-2") المرشحين
    li.py-3: a(href="collection.html" class="link d-block py-2") مجموعات
    //- li.py-3: a(href="#" class="link d-block py-2") معلومات عنا