include assets/includes/_variables
include assets/includes/_mixins
include assets/includes/mixins/_card
doctype html
html(lang="en")
  //- HEAD
  include assets/includes/_head
  body
    #cursor.d-flex.align-items-center.justify-content-center
      #dot
      #circle
      #title
        h4.m-0 
    nav(id="backdrop")
      .wrapper.d-flex.align-items-center
        #background
        .container
          #content.d-flex.align-items-center.justify-content-between
            #search
              a(href="#" class="link")
                svg(viewBox="0 0 451 451"): path(d="M447.05,428l-109.6-109.6c29.4-33.8,47.2-77.9,47.2-126.1C384.65,86.2,298.35,0,192.35,0C86.25,0,0.05,86.3,0.05,192.3s86.3,192.3,192.3,192.3c48.2,0,92.3-17.8,126.1-47.2L428.05,447c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4C452.25,441.8,452.25,433.2,447.05,428z M26.95,192.3c0-91.2,74.2-165.3,165.3-165.3c91.2,0,165.3,74.2,165.3,165.3s-74.1,165.4-165.3,165.4C101.15,357.7,26.95,283.5,26.95,192.3z")
            #logo: a(href="#" class="link") LOGO
            #hamburger
              a(href="#" class="link")
                svg(viewBox="0 0 207 137")
                  rect(id="Rectangle_1" data-name="Rectangle 1" width="206" height="19" rx="9.5" fill="#2a2a2a")
                  rect(id="Rectangle_2" data-name="Rectangle 2" width="206" height="19" rx="9.5" transform="translate(0 51.199)" fill="#2a2a2a")
                  rect(id="Rectangle_3" data-name="Rectangle 3" width="155" height="19" rx="9.5" transform="translate(51 102.399)" fill="#2a2a2a")

    main
      div(data-scroll)
        section#site_of_the_day
          a(href="#" class="overlay")
          .dots
          #items.m-0.d-flex.align-items-center.justify-content-start
            .item.item_scroll.link: .mask_img.item__img-wrap: img(class="item__img" src="assets/images/audio-mixer-1.jpg", alt="")
            .item.item_scroll.link: .mask_img.item__img-wrap: img(class="item__img" src="assets/images/1.jpg", alt="")
            .item.item_scroll.link: .mask_img.item__img-wrap: img(class="item__img" src="assets/images/3.jpg", alt="")
            .item.item_scroll.link: .mask_img.item__img-wrap: img(class="item__img" src="assets/images/audio-mixer-3.jpg", alt="")
          #caption
            .box_noteSite
              ul.d-flex
                li(class="dislink design", data-hover="التصميم")
                li(class="dislink usability", data-hover="سهولة الاستخدام")
                li(class="dislink creativity", data-hover="الإبداع")
                li(class="dislink content", data-hover="المحتوى")
                li(class="dislink responsive", data-hover="متجاوب")
            #info
          h4
          button(type="button" id="close" class="link" data-hover="اضغط هنا") Close 
        //- .item.link: .mask_img.item__img-wrap: img(class="item__img" src="assets/images/audio-mixer-1.jpg", alt="")
        //- .item.link: .mask_img.item__img-wrap: img(class="item__img" src="assets/images/1.jpg", alt="")
        //- .item.link: .mask_img.item__img-wrap: img(class="item__img" src="assets/images/3.jpg", alt="")
        //- .item.link: .mask_img.item__img-wrap: img(class="item__img" src="assets/images/audio-mixer-3.jpg", alt="")


        section#gird
          .container
            div(class="card-columns") 
              +card("assets/images/audio-mixer-1.jpg","")
              +card("assets/images/1.jpg","")
              +card("assets/images/3.jpg","")
              +card("assets/images/audio-mixer-3.jpg","")
              +card("assets/images/2.jpg","")
              +card("assets/images/4.jpg","")
              +card("assets/images/5.jpg","")
              +card("assets/images/6.jpg","")
              +card("assets/images/1.jpg","")
              +card("assets/images/3.jpg","")
              
    aside
      ul
        li test
        li test
        li test
        li test
        li test



    //- SCRIPTS
    include assets/includes/_scripts
      
      