include assets/includes/_variables
include assets/includes/_mixins
include assets/includes/mixins/_card
doctype html
html(lang="en")
  //- HEAD
  head
    include assets/includes/_head
    link(rel="stylesheet", href="assets/css/home.min.css")
  body

    include assets/includes/mixins/_navbar&aside
    include assets/includes/mixins/_cursor
    
    main
      div(data-scroll)
        section#site_of_the_day.py-5
          a(href="#" class="overlay")
          .dots
          #items.m-0.d-flex.align-items-center.justify-content-start
            .item.item_scroll.link: .mask_img.item__img-wrap: img(class="item__img" src="assets/images/1.jpg", alt=null)
            .item.item_scroll.link: .mask_img.item__img-wrap: img(class="item__img" src="assets/images/2.jpg", alt=null)
            .item.item_scroll.link: .mask_img.item__img-wrap: img(class="item__img" src="assets/images/3.jpg", alt=null)
            .item.item_scroll.link: .mask_img.item__img-wrap: img(class="item__img" src="assets/images/4.jpg", alt=null)
          #caption.d-flex.align-items-center.flex-column
            #info
              #heading-large
                h1: a(href="#" class="link") موقع اخباري
              #data: span بواسطة 
                a(href="#" class="link") محمود بخيت 
                span من 
                  a(href="#" class="link"): strong مصر 
                  span تقيم 
                    span 7
            .box_noteSite
              ul.d-flex.flex-wrap.justify-content-around.justify-content-center
                li(class="dislink design", data-hover="التصميم")
                li(class="dislink usability", data-hover="سهولة الاستخدام")
                li(class="dislink creativity", data-hover="الإبداع")
                li(class="dislink content", data-hover="المحتوى")
                li(class="dislink responsive", data-hover="متجاوب")
            #btnSubmitYourSite
              a(href="#" class="px-4 py-3 link") !أعرض موقعك الأن
          #info
          h4
          button(type="button" id="close" class="link" data-hover="اضغط هنا") Close 
        
        section#Winners.my-5.py-5
          .container
            .head_title.mb-5.mt-0
              h2 مواقع اليوم 
                span الفائزين السابقين
          div(class="swiper__slider swiper")
            div(class="swiper__inner")
            div(class="proxy link move")
              div(class="swiper__content d-flex")
                div(class="swiper-slide slide")
                  +swiperWinners("assets/images/4.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
                div(class="swiper-slide slide")
                  +swiperWinners("assets/images/1.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
                div(class="swiper-slide slide")
                  +swiperWinners("assets/images/5.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
                div(class="swiper-slide slide")
                  +swiperWinners("assets/images/6.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
                div(class="swiper-slide slide")
                  +swiperWinners("assets/images/9.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
                div(class="swiper-slide slide")
                  +swiperWinners("assets/images/7.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
                div(class="swiper-slide slide")
                  +swiperWinners("assets/images/8.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
                div(class="swiper-slide slide")
                  +swiperWinners("assets/images/12.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
            
        section#nominees.my-5.py-5
          .container
            .head_title.mb-5.mt-0
              h2 مواقع اليوم 
                span الفائزين السابقين
          div(class="swiper__slider swiper")
            div(class="swiper__inner")
            div(class="proxy link move")
              div(class="swiper__content d-flex")
                div(class="swiper-slide slide")
                  +swiperWinners("assets/images/2.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
                div(class="swiper-slide slide")
                  +swiperWinners("assets/images/1.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
                div(class="swiper-slide slide")
                  +swiperWinners("assets/images/3.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
                div(class="swiper-slide slide")
                  +swiperWinners("assets/images/13.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
                div(class="swiper-slide slide")
                  +swiperWinners("assets/images/9.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
                div(class="swiper-slide slide")
                  +swiperWinners("assets/images/10.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
                div(class="swiper-slide slide")
                  +swiperWinners("assets/images/11.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
                div(class="swiper-slide slide")
                  +swiperWinners("assets/images/5.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
            
        section#featured_Members.my-5.py-5
          .container
            .head_title.mb-5.mt-0
              h2 مواقع اليوم 
                span الفائزين السابقين
          div(class="swiper__slider swiper")
            div(class="swiper__inner")
            div(class="proxy link move")
              div(class="swiper__content d-flex")
                div(class="swiper-slide slide")
                  +swiperWinners("assets/images/11.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
                div(class="swiper-slide slide")
                  +swiperWinners("assets/images/2.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
                div(class="swiper-slide slide")
                  +swiperWinners("assets/images/13.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
                div(class="swiper-slide slide")
                  +swiperWinners("assets/images/3.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
                div(class="swiper-slide slide")
                  +swiperWinners("assets/images/5.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
                div(class="swiper-slide slide")
                  +swiperWinners("assets/images/6.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
                div(class="swiper-slide slide")
                  +swiperWinners("assets/images/9.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
                div(class="swiper-slide slide")
                  +swiperWinners("assets/images/5.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
            
        section#gird.my-5.py-5
          .container
            div(class="card-columns") 
              +cardWinners("assets/images/12.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
              +cardWinners("assets/images/13.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
              +cardWinners("assets/images/2.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
              +cardWinners("assets/images/3.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
              +cardWinners("assets/images/4.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
              +cardWinners("assets/images/7.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
              +cardWinners("assets/images/9.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
              +cardWinners("assets/images/11.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
              +cardWinners("assets/images/10.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
              +cardWinners("assets/images/8.jpg",null,"assets/images/avatar.jpg",null,"محمود بخيت","30","مصر","3 فبراير 2018")
              
        include assets/includes/mixins/_footer
    
    //- SCRIPTS
    script(src="assets/js/plugins/progressbar.min.js")
    script(src="assets/js/plugins/Draggable.min.js")
    script(src="assets/js/plugins/ThrowPropsPlugin.min.js")
    include assets/includes/_scripts
    script(src="assets/js/slide.js")