include assets/includes/_variables
include assets/includes/_mixins
doctype html
html(lang="en")
  // HEAD
  include assets/includes/_head
  body
    nav(id="backdrop")
      .wrapper
        .background
        .content

    img(src="assets/cliffs-daylight-environment-2098403.jpg" alt="")

    // SCRIPTS
    include assets/includes/_scripts
      
      