
include assets/includes/_variables
include assets/includes/_mixins
include assets/includes/mixins/_card
doctype html
html(lang="en")
  //- HEAD
  head
    include assets/includes/_head
    link(rel="stylesheet", href="assets/css/nominees.min.css")
  body
    include assets/includes/mixins/_navbar&aside
    include assets/includes/mixins/_cursor
    main
      div(data-scroll)
        section.filters.mb-5.py-3
          ul.d-flex.m-0
            li.px-3: a.link(href="#") مصنف بواسطة
            li.px-3.candid
              .dropdown-menu.mt-3.p-3
                
                a.link.mx-3(href="#") مواقع اليوم
                a.link.mx-3(href="#") مواقع الشهر
                a.link.mx-3(href="#") مواقع السنة
                a.link.mx-3(href="#") مطورين
                a.link.mx-3(href="#") التميز المحمول
                a.link.mx-3(href="#") مشرف
              a.link(href="#") المرشحين
            li.px-3.sections
              .dropdown-menu.mt-3.p-3
                ul
                  li.my-4: a.link(href="#") Architecture
                  li.my-4: a.link(href="#") Art & Illustration
                ul
                  li.my-4: a.link(href="#") Design Agencies
                  li.my-4: a.link(href="#") E-Commerce
                ul
                  li.my-4: a.link(href="#") Experimental
                  li.my-4: a.link(href="#") Fashion
                ul
                  li.my-4: a.link(href="#") Business & Corporate
                  li.my-4: a.link(href="#") Culture & Education
                ul
                  li.my-4: a.link(href="#") Events
                  li.my-4: a.link(href="#") Film & TV
                ul
                  li.my-4: a.link(href="#") Food & Drink
                  li.my-4: a.link(href="#") Web & Interactive

              a.link(href="#") الأقسام
            li.px-3.words
              .dropdown-menu.mt-3.p-3
                ul
                  li.mx-2.my-4: a.link(href="#") 3D
                  li.mx-2.my-4: a.link(href="#") 404 pages
                ul
                  li.mx-2.my-4: a.link(href="#") App Style
                  li.mx-2.my-4: a.link(href="#") Contact Page
                ul
                  li.mx-2.my-4: a.link(href="#") Copy design
                  li.mx-2.my-4: a.link(href="#") Data Visualization
                ul
                  li.mx-2.my-4: a.link(href="#") Filters and Effects
                  li.mx-2.my-4: a.link(href="#") About Page
                ul
                  li.mx-2.my-4: a.link(href="#") Forms and Input
                  li.mx-2.my-4: a.link(href="#") Animation
                ul
                  li.mx-2.my-4: a.link(href="#") Clean
                  li.mx-2.my-4: a.link(href="#") Colorful
              a.link(href="#") الكلمات 
            li.px-3.techniq
              .dropdown-menu.mt-3.p-3
                ul
                  li.mx-2.my-3: a.link(href="#") AngularJS
                  li.mx-2.my-3: a.link(href="#") Apache
                ul
                  li.mx-2.my-3: a.link(href="#") Bootstrap
                  li.mx-2.my-3: a.link(href="#") CSS Framework
                ul
                  li.mx-2.my-3: a.link(href="#") D3
                  li.mx-2.my-3: a.link(href="#") Font Awesome
                ul
                  li.mx-2.my-3: a.link(href="#") BARBA.js
                  li.mx-2.my-3: a.link(href="#") Backbone.js
                ul
                  li.mx-2.my-3: a.link(href="#") CSS3
                  li.mx-2.my-3: a.link(href="#") CreateJS
                ul
                  li.mx-2.my-3: a.link(href="#") Facebook API
                  li.mx-2.my-3: a.link(href="#") Debian
              a.link(href="#") التقنيات 
            li.px-3.colors
              .dropdown-menu.mt-3.p-3
                ul
                  li.mx-4.my-3: a.link(href="#") اسود
                  li.mx-4.my-3: a.link(href="#") ازرق
                ul
                  li.mx-4.my-3: a.link(href="#") بني
                  li.mx-4.my-3: a.link(href="#") اخضر
                ul
                  li.mx-4.my-3: a.link(href="#") ابيض
                  li.mx-4.my-3: a.link(href="#") بني
                ul
                  li.mx-4.my-3: a.link(href="#") برتقالي
                  li.mx-4.my-3: a.link(href="#") وردي
                ul
                  li.mx-4.my-3: a.link(href="#") أحمر
                  li.mx-4.my-3: a.link(href="#") اصفر
                ul
                  li.mx-4.my-3: a.link(href="#") ذهبي
              a.link(href="#") الألوان 
            li.px-3.countrys
              .dropdown-menu.mt-3.p-3
                ul
                  li.mx-4.my-3: a.link(href="#") مصر
                  li.mx-4.my-3: a.link(href="#") السعودية
                ul
                  li.mx-4.my-3: a.link(href="#") الأردن
                  li.mx-4.my-3: a.link(href="#") عمان
                ul
                  li.mx-4.my-3: a.link(href="#") فلسطين
                  li.mx-4.my-3: a.link(href="#") سوريا
                ul
                  li.mx-4.my-3: a.link(href="#") ليبيا
                  li.mx-4.my-3: a.link(href="#") العراق
                ul
                  li.mx-4.my-3: a.link(href="#") المغرب
                  li.mx-4.my-3: a.link(href="#") الجزائر
                ul
                  li.mx-4.my-3: a.link(href="#") اليمن
                  li.mx-4.my-3: a.link(href="#") الكويت
              a.link(href="#") بلدان 
            li.px-3: a.link(href="#") إعادة تعيين المرشحات

        section#gird
          .container
            div(class="card-columns") 
              +cardNominees("assets/images/10.jpg","","assets/images/avatar.jpg","","محمود بخيت","مصر")
              +cardNominees("assets/images/1.jpg","","assets/images/avatar.jpg","","محمود بخيت","مصر")
              +cardNominees("assets/images/12.jpg","","assets/images/avatar.jpg","","محمود بخيت","مصر")
              +cardNominees("assets/images/13.jpg","","assets/images/avatar.jpg","","محمود بخيت","مصر")
              +cardNominees("assets/images/3.jpg","","assets/images/avatar.jpg","","محمود بخيت","مصر")
              +cardNominees("assets/images/3.jpg","","assets/images/avatar.jpg","","محمود بخيت","مصر")
              +cardNominees("assets/images/5.jpg","","assets/images/avatar.jpg","","محمود بخيت","مصر")
              +cardNominees("assets/images/7.jpg","","assets/images/avatar.jpg","","محمود بخيت","مصر")
              +cardNominees("assets/images/1.jpg","","assets/images/avatar.jpg","","محمود بخيت","مصر")
              +cardNominees("assets/images/3.jpg","","assets/images/avatar.jpg","","محمود بخيت","مصر")
              
        section.pagination.py-5
          .container
            .row
              .col-md-12
                ul.d-flex
                  li.px-1: a.p-2.link(href="#") 1
                  li.px-1: a.p-2.link(href="#") 2
                  li.px-1: a.p-2.link(href="#") 3
                  li.px-1: a.p-2.link(href="#") 4
          
          
        include assets/includes/mixins/_footer



    //- SCRIPTS
    include assets/includes/_scripts
      
      